<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>不服</string>
		<key>fileName</key>
		<string>haier_hi</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304ed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>告诉你</string>
		<key>fileName</key>
		<string>haier_feiwen</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304ef</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抓狂</string>
		<key>fileName</key>
		<string>haier_xianhua</string>
		<key>fileId</key>
		<string>53faaa9724ac5a01da030fd0</string>
	</dict>
	<dict>
		<key>name</key>
		<string>够朋友</string>
		<key>fileName</key>
		<string>haier_woshou</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fca</string>
	</dict>
	<dict>
		<key>name</key>
		<string>打屁屁</string>
		<key>fileName</key>
		<string>haier_se</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fce</string>
	</dict>
	<dict>
		<key>name</key>
		<string>看热闹</string>
		<key>fileName</key>
		<string>haier_sahua</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fcc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>别哭</string>
		<key>fileName</key>
		<string>haier_paomeiyan</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fc8</string>
	</dict>
	<dict>
		<key>name</key>
		<string>加油</string>
		<key>fileName</key>
		<string>haier_paishou</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fc6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哪跑</string>
		<key>fileName</key>
		<string>haier_niupigu</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fc4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>累</string>
		<key>fileName</key>
		<string>haier_maimeng</string>
		<key>fileId</key>
		<string>53faaa9624ac5a01da030fc2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>欢呼</string>
		<key>fileName</key>
		<string>haier_laladui</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304f1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一起上</string>
		<key>fileName</key>
		<string>haier_huanying</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304eb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抱抱</string>
		<key>fileName</key>
		<string>haier_baobao</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304e3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>走你</string>
		<key>fileName</key>
		<string>haier_fazhaopian</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304e5</string>
	</dict>
	<dict>
		<key>name</key>
		<string>单挑</string>
		<key>fileName</key>
		<string>haier_fangbianpao</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304e7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>成功</string>
		<key>fileName</key>
		<string>haier_baosanwei</string>
		<key>fileId</key>
		<string>53faa7b224ac5a01da0304e9</string>
	</dict>
</array>
</plist>
