<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>棒棒哒</string>
		<key>fileName</key>
		<string>xiaobai_bangbangda</string>
		<key>fileId</key>
		<string>58db2534d02e043df0443356</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奋斗</string>
		<key>fileName</key>
		<string>xiaobai_fendou</string>
		<key>fileId</key>
		<string>58db25340bbc585ee2223100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>愉快</string>
		<key>fileName</key>
		<string>xiaobai_yukuai</string>
		<key>fileId</key>
		<string>58db25350bbc585ee2223142</string>
	</dict>
	<dict>
		<key>name</key>
		<string>加油</string>
		<key>fileName</key>
		<string>xiaobai_jiayou</string>
		<key>fileId</key>
		<string>58db2534d02e043df0443393</string>
	</dict>
	<dict>
		<key>name</key>
		<string>么么哒</string>
		<key>fileName</key>
		<string>xiaobai_memeda</string>
		<key>fileId</key>
		<string>58db2535d02e043df0443437</string>
	</dict>
	<dict>
		<key>name</key>
		<string>疑问</string>
		<key>fileName</key>
		<string>xiaobai_yiwen</string>
		<key>fileId</key>
		<string>58db2535d02e043df04433ed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>嗯嗯</string>
		<key>fileName</key>
		<string>xiaobai_enen</string>
		<key>fileId</key>
		<string>58db2534d02e043df044338a</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK</string>
		<key>fileName</key>
		<string>xiaobai_ok</string>
		<key>fileId</key>
		<string>58db25330bbc585ee22230d2</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吃惊</string>
		<key>fileName</key>
		<string>xiaobai_chijing</string>
		<key>fileId</key>
		<string>58db25330bbc585ee22230cf</string>
	</dict>
	<dict>
		<key>name</key>
		<string>傲娇</string>
		<key>fileName</key>
		<string>xiaobai_aojiao</string>
		<key>fileId</key>
		<string>58db2533d02e043df044334f</string>
	</dict>
	<dict>
		<key>name</key>
		<string>委屈</string>
		<key>fileName</key>
		<string>xiaobai_weiqu</string>
		<key>fileId</key>
		<string>58db2535d02e043df04433c9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>冷漠</string>
		<key>fileName</key>
		<string>xiaobai_lengmo</string>
		<key>fileId</key>
		<string>58db25350bbc585ee2223139</string>
	</dict>
	<dict>
		<key>name</key>
		<string>回头看</string>
		<key>fileName</key>
		<string>xiaobai_huitou</string>
		<key>fileId</key>
		<string>58db2534d02e043df044338d</string>
	</dict>
	<dict>
		<key>name</key>
		<string>拜托</string>
		<key>fileName</key>
		<string>xiaobai_baituo</string>
		<key>fileId</key>
		<string>58db25340bbc585ee22230f4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>nono</string>
		<key>fileName</key>
		<string>xiaobai_nono</string>
		<key>fileId</key>
		<string>58db25340bbc585ee22230dc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>晚安</string>
		<key>fileName</key>
		<string>xiaobai_wanan</string>
		<key>fileId</key>
		<string>58db25350bbc585ee222313c</string>
	</dict>
</array>
</plist>
