<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>啊</string>
		<key>fileName</key>
		<string>dabolang_啊</string>
		<key>fileId</key>
		<string>5ad6fb7fdb5aa65e5949537b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>非常棒</string>
		<key>fileName</key>
		<string>dabolang_非常棒</string>
		<key>fileId</key>
		<string>5ad6fb7f2711cd0e21507fd1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>给你</string>
		<key>fileName</key>
		<string>dabolang_给你</string>
		<key>fileId</key>
		<string>5ad6fb7fdb5aa65e5949537c</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汗</string>
		<key>fileName</key>
		<string>dabolang_汗</string>
		<key>fileId</key>
		<string>5ad6fb7f2711cd0e21507fd7</string>
	</dict>
	<dict>
		<key>name</key>
		<string>抠鼻</string>
		<key>fileName</key>
		<string>dabolang_抠鼻</string>
		<key>fileId</key>
		<string>5ad6fb7f364a0f5f51df0c6d</string>
	</dict>
	<dict>
		<key>name</key>
		<string>脸红</string>
		<key>fileName</key>
		<string>dabolang_脸红</string>
		<key>fileId</key>
		<string>5ad6fb7f2711cd0e21507fd3</string>
	</dict>
	<dict>
		<key>name</key>
		<string>蜜汁微笑</string>
		<key>fileName</key>
		<string>dabolang_蜜汁微笑</string>
		<key>fileId</key>
		<string>5ad6fb7f2711cd0e21507fd4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>嗯</string>
		<key>fileName</key>
		<string>dabolang_嗯</string>
		<key>fileId</key>
		<string>5ad6fb7f2711cd0e21507fd6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>你走</string>
		<key>fileName</key>
		<string>dabolang_你走</string>
		<key>fileId</key>
		<string>5ad6fb7f364a0f5f51df0c6f</string>
	</dict>
	<dict>
		<key>name</key>
		<string>社会人</string>
		<key>fileName</key>
		<string>dabolang_社会人</string>
		<key>fileId</key>
		<string>5ad6fb7f50f8dd156372d75b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>托腮</string>
		<key>fileName</key>
		<string>dabolang_托腮</string>
		<key>fileId</key>
		<string>5ad6fb7fea3b4a77d6982e75</string>
	</dict>
	<dict>
		<key>name</key>
		<string>喜欢</string>
		<key>fileName</key>
		<string>dabolang_喜欢</string>
		<key>fileId</key>
		<string>5ad6fb7fea3b4a77d6982e73</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吓</string>
		<key>fileName</key>
		<string>dabolang_吓</string>
		<key>fileId</key>
		<string>5ad6fd1adb5aa65e594975d4</string>
	</dict>
	<dict>
		<key>name</key>
		<string>心碎</string>
		<key>fileName</key>
		<string>dabolang_心碎</string>
		<key>fileId</key>
		<string>5ad6fd422711cd0e2150a564</string>
	</dict>
	<dict>
		<key>name</key>
		<string>OK</string>
		<key>fileName</key>
		<string>dabolang_OK</string>
		<key>fileId</key>
		<string>5ad6fd5250f8dd156372fe20</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yeah</string>
		<key>fileName</key>
		<string>dabolang_Yeah</string>
		<key>fileId</key>
		<string>5ad6fd7350f8dd1563730095</string>
	</dict>
</array>
</plist>
