<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>点赞</string>
		<key>fileName</key>
		<string>monk_点赞</string>
		<key>fileId</key>
		<string>5ad6fe0950f8dd1563730c7a</string>
	</dict>
	<dict>
		<key>name</key>
		<string>谢谢</string>
		<key>fileName</key>
		<string>monk_谢谢</string>
		<key>fileId</key>
		<string>5ad6fe0dea3b4a77d69863b6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>哼</string>
		<key>fileName</key>
		<string>monk_哼</string>
		<key>fileId</key>
		<string>5ad6fe11364a0f5f51df4261</string>
	</dict>
	<dict>
		<key>name</key>
		<string>佛系三连</string>
		<key>fileName</key>
		<string>monk_佛系三连</string>
		<key>fileId</key>
		<string>5ad6fe152711cd0e2150b5de</string>
	</dict>
	<dict>
		<key>name</key>
		<string>收工</string>
		<key>fileName</key>
		<string>monk_收工</string>
		<key>fileId</key>
		<string>5ad6fe19db5aa65e594989fd</string>
	</dict>
	<dict>
		<key>name</key>
		<string>托腮</string>
		<key>fileName</key>
		<string>monk_托腮</string>
		<key>fileId</key>
		<string>5ad6fe1c2711cd0e2150b64b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>瞌睡</string>
		<key>fileName</key>
		<string>monk_瞌睡</string>
		<key>fileId</key>
		<string>5ad6fe22364a0f5f51df438d</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吐血</string>
		<key>fileName</key>
		<string>monk_吐血</string>
		<key>fileId</key>
		<string>5ad6fe2e9b521a19bfcca283</string>
	</dict>
	<dict>
		<key>name</key>
		<string>可怜</string>
		<key>fileName</key>
		<string>monk_可怜</string>
		<key>fileId</key>
		<string>5ad6fe39ea3b4a77d6986747</string>
	</dict>
	<dict>
		<key>name</key>
		<string>笑里藏刀</string>
		<key>fileName</key>
		<string>monk_笑里藏刀</string>
		<key>fileId</key>
		<string>5ad6fe3bea3b4a77d6986788</string>
	</dict>
	<dict>
		<key>name</key>
		<string>敲木鱼</string>
		<key>fileName</key>
		<string>monk_敲木鱼</string>
		<key>fileId</key>
		<string>5ad6fe3f2711cd0e2150b95b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>无语</string>
		<key>fileName</key>
		<string>monk_无语</string>
		<key>fileId</key>
		<string>5ad6fe43364a0f5f51df469e</string>
	</dict>
</array>
</plist>
