<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>哎哟不错哦</string>
		<key>fileName</key>
        <string>bududu_哎哟不错哦</string>
		<key>fileId</key>
		<string>5ad3fb97364a0f4cfa993144</string>
	</dict>
	<dict>
		<key>name</key>
		<string>打call</string>
		<key>fileName</key>
        <string>bududu_打call</string>
		<key>fileId</key>
		<string>5ad3fb97ea3b4a1df6fa2ccb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>得意</string>
		<key>fileName</key>
        <string>bududu_得意</string>
		<key>fileId</key>
		<string>5ad3fb97ea3b4a1df6fa2cc9</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奋斗中</string>
		<key>fileName</key>
        <string>bududu_奋斗中</string>
		<key>fileId</key>
		<string>5ad3fb979b521a5017d5296d</string>
	</dict>
	<dict>
		<key>name</key>
		<string>感动</string>
		<key>fileName</key>
        <string>bududu_感动</string>
		<key>fileId</key>
		<string>5ad3fb9750f8dd407d44d94e</string>
	</dict>
	<dict>
		<key>name</key>
		<string>滚</string>
		<key>fileName</key>
        <string>bududu_滚</string>
		<key>fileId</key>
		<string>5ad3fb97364a0f4cfa993147</string>
	</dict>
	<dict>
		<key>name</key>
		<string>喝茶看戏</string>
		<key>fileName</key>
        <string>bududu_喝茶看戏</string>
		<key>fileId</key>
		<string>5ad3fb972711cd06ad1cc612</string>
	</dict>
	<dict>
		<key>name</key>
		<string>略略略</string>
		<key>fileName</key>
        <string>bududu_略略略</string>
		<key>fileId</key>
		<string>5ad3fb972711cd06ad1cc617</string>
	</dict>
	<dict>
		<key>name</key>
		<string>茫然</string>
		<key>fileName</key>
        <string>bududu_茫然</string>
		<key>fileId</key>
		<string>5ad3fb97ea3b4a1df6fa2ccc</string>
	</dict>
	<dict>
		<key>name</key>
		<string>亲亲</string>
		<key>fileName</key>
        <string>bududu_亲亲</string>
		<key>fileId</key>
		<string>5ad3fb972711cd06ad1cc616</string>
	</dict>
	<dict>
		<key>name</key>
		<string>送你小花</string>
		<key>fileName</key>
        <string>bududu_送你小花</string>
		<key>fileId</key>
		<string>5ad3fb97db5aa614a0f3d08b</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我不听</string>
		<key>fileName</key>
        <string>bududu_我不听</string>
		<key>fileId</key>
		<string>5ad3fb97db5aa614a0f3d083</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我错了</string>
		<key>fileName</key>
        <string>bududu_我错了</string>
		<key>fileId</key>
		<string>5ad3fb9750f8dd407d44d951</string>
	</dict>
	<dict>
		<key>name</key>
		<string>我就不</string>
		<key>fileName</key>
        <string>bududu_我就不</string>
		<key>fileId</key>
		<string>5ad3fb972711cd06ad1cc61c</string>
	</dict>
	<dict>
		<key>name</key>
		<string>羞羞</string>
		<key>fileName</key>
        <string>bududu_羞羞</string>
		<key>fileId</key>
		<string>5ad3fb972711cd06ad1cc615</string>
	</dict>
	<dict>
		<key>name</key>
		<string>emmmm</string>
		<key>fileName</key>
        <string>bududu_emmmm</string>
		<key>fileId</key>
		<string>5ad3fb97db5aa614a0f3d081</string>
	</dict>
</array>
</plist>
