<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<array>
			<string>[微笑]</string>
			<string>[呵呵]</string>
		</array>
		<key>fileName</key>
		<string>smile_hehe</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[嘻嘻]</string>
		</array>
		<key>fileName</key>
		<string>smile_xixi</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[哈哈]</string>
		</array>
		<key>fileName</key>
		<string>smile_haha</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[可爱]</string>
		</array>
		<key>fileName</key>
		<string>smile_keai</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[爱你]</string>
		</array>
		<key>fileName</key>
		<string>smile_aini</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[亲亲]</string>
		</array>
		<key>fileName</key>
		<string>smile_qinqin</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[太开心]</string>
		</array>
		<key>fileName</key>
		<string>smile_taikaixin</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[鼓掌]</string>
		</array>
		<key>fileName</key>
		<string>smile_guzhang</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[笑哭了]</string>
		</array>
		<key>fileName</key>
		<string>xiaokule</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[坏笑]</string>
		</array>
		<key>fileName</key>
		<string>huaixiao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[机智]</string>
		</array>
		<key>fileName</key>
		<string>jizhi</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[捂脸]</string>
		</array>
		<key>fileName</key>
		<string>wulian</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[偷笑]</string>
		</array>
		<key>fileName</key>
		<string>smile_touxiao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[做鬼脸]</string>
		</array>
		<key>fileName</key>
		<string>smile_zuoguilian</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[害羞]</string>
		</array>
		<key>fileName</key>
		<string>smile_haixiu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[酷]</string>
		</array>
		<key>fileName</key>
		<string>smile_ku</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[花心]</string>
		</array>
		<key>fileName</key>
		<string>smile_huaxin</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[钱]</string>
		</array>
		<key>fileName</key>
		<string>smile_qian</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[奋斗]</string>
		</array>
		<key>fileName</key>
		<string>smile_fendou</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[吃惊]</string>
		</array>
		<key>fileName</key>
		<string>smile_chijing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>delete</string>
		<key>fileName</key>
		<string>status_btn_delete_normal</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[翻白眼]</string>
		</array>
		<key>fileName</key>
		<string>baiyan</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[馋嘴]</string>
		</array>
		<key>fileName</key>
		<string>smile_chanzui</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[懒得理你]</string>
		</array>
		<key>fileName</key>
		<string>smile_landelini</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[思考]</string>
		</array>
		<key>fileName</key>
		<string>smile_sikao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[憋屈]</string>
		</array>
		<key>fileName</key>
		<string>biequ</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[发愣]</string>
		</array>
		<key>fileName</key>
		<string>faleng</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[渴望]</string>
		</array>
		<key>fileName</key>
		<string>kewang</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[兴奋]</string>
		</array>
		<key>fileName</key>
		<string>xingfen</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[嘘]</string>
		</array>
		<key>fileName</key>
		<string>smile_xu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[疑问]</string>
		</array>
		<key>fileName</key>
		<string>smile_yiwen</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[汗]</string>
		</array>
		<key>fileName</key>
		<string>smile_han</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[困]</string>
		</array>
		<key>fileName</key>
		<string>smile_kun</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[打哈气]</string>
		</array>
		<key>fileName</key>
		<string>smile_dahaqi</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[睡觉]</string>
		</array>
		<key>fileName</key>
		<string>smile_shuijiao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[哼]</string>
		</array>
		<key>fileName</key>
		<string>smile_heng</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[闭嘴]</string>
		</array>
		<key>fileName</key>
		<string>smile_bizui</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[鄙视]</string>
		</array>
		<key>fileName</key>
		<string>smile_bishi</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[委屈]</string>
		</array>
		<key>fileName</key>
		<string>smile_weiqu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[挖鼻屎]</string>
		</array>
		<key>fileName</key>
		<string>smile_wabishi</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[生病]</string>
		</array>
		<key>fileName</key>
		<string>smile_shengbing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>delete</string>
		<key>fileName</key>
		<string>status_btn_delete_normal</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[晕]</string>
		</array>
		<key>fileName</key>
		<string>smile_yun</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[吐]</string>
		</array>
		<key>fileName</key>
		<string>smile_tu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[失望]</string>
		</array>
		<key>fileName</key>
		<string>smile_shiwang</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[可怜]</string>
		</array>
		<key>fileName</key>
		<string>smile_kelian</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[泪]</string>
		</array>
		<key>fileName</key>
		<string>smile_lei</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[衰]</string>
		</array>
		<key>fileName</key>
		<string>smile_shuai</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[骷颅头]</string>
		</array>
		<key>fileName</key>
		<string>smile_kulutou</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[抓狂]</string>
		</array>
		<key>fileName</key>
		<string>smile_zhuakuang</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[怒骂]</string>
		</array>
		<key>fileName</key>
		<string>smile_numa</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[怒]</string>
		</array>
		<key>fileName</key>
		<string>smile_nu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[尴尬笑]</string>
		</array>
		<key>fileName</key>
		<string>gangaxiao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[左哼哼]</string>
		</array>
		<key>fileName</key>
		<string>smile_zuohengheng</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[右哼哼]</string>
		</array>
		<key>fileName</key>
		<string>smile_youhengheng</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[doge]</string>
		</array>
		<key>fileName</key>
		<string>dog</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[卖萌]</string>
		</array>
		<key>fileName</key>
		<string>maimeng</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[不开心]</string>
		</array>
		<key>fileName</key>
		<string>bukaixin</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[大哭]</string>
		</array>
		<key>fileName</key>
		<string>daku</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[皱眉]</string>
		</array>
		<key>fileName</key>
		<string>zhoumei</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[惊恐]</string>
		</array>
		<key>fileName</key>
		<string>jingkong</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[再见]</string>
		</array>
		<key>fileName</key>
		<string>zaijian</string>
	</dict>
	<dict>
		<key>name</key>
		<string>delete</string>
		<key>fileName</key>
		<string>status_btn_delete_normal</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[撇嘴]</string>
		</array>
		<key>fileName</key>
		<string>piezui</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[嘿哈]</string>
		</array>
		<key>fileName</key>
		<string>heiha</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[吃瓜]</string>
		</array>
		<key>fileName</key>
		<string>chigua</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[问号]</string>
		</array>
		<key>fileName</key>
		<string>heirenwenhao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[顶]</string>
		</array>
		<key>fileName</key>
		<string>smile_ding</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[666]</string>
		</array>
		<key>fileName</key>
		<string>666</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[赞]</string>
			<string>[good]</string>
		</array>
		<key>fileName</key>
		<string>smile_good</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[弱]</string>
		</array>
		<key>fileName</key>
		<string>smile_ruo</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[欢迎]</string>
		</array>
		<key>fileName</key>
		<string>huanying</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[来]</string>
		</array>
		<key>fileName</key>
		<string>smile_lai</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[ok]</string>
		</array>
		<key>fileName</key>
		<string>smile_ok</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[不要]</string>
		</array>
		<key>fileName</key>
		<string>smile_buyao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[耶]</string>
			<string>[胜利]</string>
		</array>
		<key>fileName</key>
		<string>smile_ye</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[握手]</string>
		</array>
		<key>fileName</key>
		<string>smile_woshou</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[爱你哟]</string>
		</array>
		<key>fileName</key>
		<string>smile_ainiyo</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[差劲]</string>
		</array>
		<key>fileName</key>
		<string>smile_chajin</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[抱拳]</string>
		</array>
		<key>fileName</key>
		<string>smile_baoquan</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[拳头]</string>
		</array>
		<key>fileName</key>
		<string>smile_quantou</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[加油]</string>
		</array>
		<key>fileName</key>
		<string>default_jiayou</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[祈福]</string>
		</array>
		<key>fileName</key>
		<string>qidao</string>
	</dict>
	<dict>
		<key>name</key>
		<string>delete</string>
		<key>fileName</key>
		<string>status_btn_delete_normal</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[玫瑰]</string>
		</array>
		<key>fileName</key>
		<string>smile_rose</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[凋谢]</string>
		</array>
		<key>fileName</key>
		<string>smile_diaoxie</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[心]</string>
		</array>
		<key>fileName</key>
		<string>smile_xin</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[伤心]</string>
		</array>
		<key>fileName</key>
		<string>smile_shangxin</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[钟]</string>
		</array>
		<key>fileName</key>
		<string>smile_zhong</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[太阳]</string>
		</array>
		<key>fileName</key>
		<string>smile_taiyang</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[月亮]</string>
		</array>
		<key>fileName</key>
		<string>smile_yueliang</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[蛋糕]</string>
		</array>
		<key>fileName</key>
		<string>smile_dangao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[礼物]</string>
		</array>
		<key>fileName</key>
		<string>smile_liwu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[干杯]</string>
		</array>
		<key>fileName</key>
		<string>smile_ganbei</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[咖啡]</string>
		</array>
		<key>fileName</key>
		<string>smile_kafei</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[猪头]</string>
		</array>
		<key>fileName</key>
		<string>smile_zhutou</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[话筒]</string>
		</array>
		<key>fileName</key>
		<string>smile_huatong</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[蜡烛]</string>
		</array>
		<key>fileName</key>
		<string>smile_lazhu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[闪电]</string>
		</array>
		<key>fileName</key>
		<string>smile_shandian</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[拥抱]</string>
		</array>
		<key>fileName</key>
		<string>smile_baobao</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[吃饭]</string>
		</array>
		<key>fileName</key>
		<string>smile_chifan</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[足球]</string>
		</array>
		<key>fileName</key>
		<string>smile_zuqiu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[雨伞]</string>
		</array>
		<key>fileName</key>
		<string>smile_yusan</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[棒棒糖]</string>
		</array>
		<key>fileName</key>
		<string>smile_bangbangtang</string>
	</dict>
	<dict>
		<key>name</key>
		<string>delete</string>
		<key>fileName</key>
		<string>status_btn_delete_normal</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[气球]</string>
		</array>
		<key>fileName</key>
		<string>smile_qiqiu</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[沙发]</string>
		</array>
		<key>fileName</key>
		<string>smile_shafa</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[飞机]</string>
		</array>
		<key>fileName</key>
		<string>smile_feiji</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[嘴唇]</string>
		</array>
		<key>fileName</key>
		<string>zuichun</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[炸弹]</string>
		</array>
		<key>fileName</key>
		<string>zhadan</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[便便]</string>
		</array>
		<key>fileName</key>
		<string>bianbian</string>
	</dict>
	<dict>
		<key>name</key>
		<array>
			<string>[庆祝]</string>
		</array>
		<key>fileName</key>
		<string>qingzhu</string>
	</dict>
	<dict>
		<key>name</key>
		<string>delete</string>
		<key>fileName</key>
		<string>status_btn_delete_normal</string>
	</dict>
</array>
</plist>
