<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>runtime.auth</string>
	<string>runtime.jsReady</string>
	<string>ui.changeNavStyle</string>
	<string>ui.toast</string>
	<string>ui.navigate</string>
	<string>ui.webViewPaddingTop</string>
	<string>cloudoffice.request</string>
	<string>cloudoffice.getRoleType</string>
	<string>cloudoffice.clearCardNotify</string>
	<string>cloudoffice.showCardNotify</string>
	<string>cloudoffice.checkAppAuth</string>
	<string>cloudoffice.textShareClosed</string>
	<string>cloudoffice.shareText</string>
	<string>cloudoffice.downloadPic</string>
	<string>cloudoffice.dataReport</string>
	<string>cloudoffice.checkWorkbenchUpdate</string>
	<string>bluetooth.openBluetoothAdapter</string>
	<string>bluetooth.closeBluetoothAdapter</string>
	<string>bluetooth.getBluetoothAdapterState</string>
	<string>bluetooth.startBluetoothDevicesDiscovery</string>
	<string>bluetooth.stopBluetoothDevicesDiscovery</string>
	<string>bluetooth.getBluetoothDevices</string>
	<string>bluetooth.getConnectedBluetoothDevices</string>
	<string>bluetooth.createBLEConnection</string>
	<string>bluetooth.closeBLEConnection</string>
	<string>bluetooth.getBLEDeviceServices</string>
	<string>bluetooth.getBLEDeviceCharacteristics</string>
	<string>bluetooth.readBLECharacteristicValue</string>
	<string>bluetooth.writeBLECharacteristicValue</string>
	<string>bluetooth.notifyBLECharacteristicValueChange</string>
	<string>bluetooth.BLEPrint</string>
	<string>bluetooth.onBluetoothAdapterStateChange</string>
	<string>bluetooth.onBluetoothDeviceFound</string>
	<string>bluetooth.onBLEConnectionStateChange</string>
	<string>bluetooth.onBLECharacteristicValueChange</string>
	<string>bluetooth.onBluetoothConnectionStateChange</string>
	<string>bluetooth.writeBluetoothDevice</string>
	<string>bluetooth.getBondDevice</string>
	<string>bluetooth.closeBluetoothConnection</string>
	<string>video.startRecord</string>
	<string>video.upload</string>
	<string>video.download</string>
	<string>video.play</string>
	<string>video.select</string>
	<string>storage.getItem</string>
	<string>storage.setItem</string>
	<string>storage.removeItem</string>
	<string>storage.clear</string>
	<string>getPersonInfo</string>
	<string>setWebViewTitle</string>
	<string>hideWebViewTitle</string>
	<string>hideOptionMenu</string>
	<string>getNetworkType</string>
	<string>gotoApp</string>
	<string>share</string>
	<string>shareFile</string>
	<string>showNavigationBar</string>
	<string>hideNavigationBar</string>
	<string>phoneCall</string>
	<string>gotoChat</string>
	<string>switchCompany</string>
	<string>disableUseWideViewPort</string>
	<string>personInfo</string>
	<string>chat</string>
	<string>close</string>
	<string>selectPerson</string>
	<string>fetchAvatar</string>
	<string>joinBandCallback</string>
	<string>socialShare</string>
	<string>quitCompany</string>
	<string>localFunction</string>
	<string>groupAppSort</string>
	<string>selectFile</string>
	<string>showFile</string>
	<string>scanQRCode</string>
	<string>selectOrg</string>
	<string>selectOrgs</string>
	<string>selectPic</string>
	<string>selectPersons</string>
	<string>selectPersonsInGroup</string>
	<string>selectDepts</string>
	<string>gotoMyFile</string>
	<string>createPop</string>
	<string>closePop</string>
	<string>getPersonDepartment</string>
	<string>getAdminOpenId</string>
	<string>setWebViewTitleBar</string>
	<string>closeWebView</string>
	<string>getLocation</string>
	<string>startLocation</string>
	<string>stopLocation</string>
	<string>selectLocation</string>
	<string>defback</string>
	<string>setDepartmentHeader</string>
	<string>clipBoard</string>
	<string>freeCall</string>
	<string>validate</string>
	<string>orgManage</string>
	<string>enterpriseAuth</string>
	<string>previewImage</string>
	<string>selectCloudhubContact</string>
	<string>selectMobileContact</string>
	<string>resetTitlePopAndDefBack</string>
	<string>iAppRevision</string>
	<string>gotoLightApp</string>
	<string>recordScreenshotsInfo</string>
	<string>companyRename</string>
	<string>loadUrl</string>
	<string>selectPhoto</string>
	<string>gotoOpenAppRangeView</string>
	<string>extPersonInfo</string>
	<string>rotateUI</string>
	<string>startSignFeedback</string>
	<string>startLightApp</string>
	<string>startRecord</string>
	<string>stopRecord</string>
	<string>playVoice</string>
	<string>pauseVoice</string>
	<string>stopVoice</string>
	<string>uploadVoice</string>
	<string>downloadVoice</string>
	<string>scanBizCard</string>
	<string>screenShare</string>
	<string>getMobileContact</string>
	<string>wxPay</string>
	<string>selectGroups</string>
	<string>selectConcernPersons</string>
	<string>mergeMsgRecord</string>
	<string>defHomeMainTitleBar</string>
	<string>defTitleBar</string>
	<string>invoice</string>
	<string>voiceRecognize</string>
	<string>voiceAssistant</string>
	<string>savePic</string>
	<string>recognizePhoto</string>
	<string>projection</string>
	<string>getProjectionState</string>
	<string>addCalendarEvent</string>
	<string>chooseImage</string>
	<string>uploadImage</string>
	<string>downloadImage</string>
	<string>dateTimePicker</string>
	<string>showLoading</string>
	<string>getWiFi</string>
	<string>selectAnyLocation</string>
	<string>commonRoute</string>
	<string>voidceChanger</string>
	<string>voiceSynthesize</string>
	<string>selectBusinessUnits</string>
	<string>keepScreenOn</string>
	<string>selectRoles</string>
	<string>getLanguage</string>
	<string>getCalenderEvent</string>
	<string>queryCalenderAccounts</string>
	<string>reloadWebView</string>
	<string>showTopMenu</string>
	<string>startSpeechRecognize</string>
	<string>stopSpeechRecognize</string>
	<string>shareMiniprogram</string>
    <string>launchMiniprogram</string>
    <string>createVideoMeeting</string>
	<string>selectPersonsInRole</string>
	<string>setCallBackData</string>
	<string>createLive</string>
	<string>createVoiceMeeting</string>
	<string>assist</string>
	<string>checkJsApi</string>
	<string>getLocalImgData</string>
	<string>setBounce</string>
	<string>showARView</string>
	<string>setWebBottomInset</string>
	<string>setShortcuts</string>
	<string>todoList</string>
</array>
</plist>
